@import "variables.scss";

@mixin buttons($sizePadding, $backgroundColor, $fontSize, $colorFont) {
  padding: $sizePadding;
  background-color: $backgroundColor;
  font-size: $fontSize;
  color: $colorFont;
  border: none;
  font-family: $font-primary;
}
