@import "font.scss";

$Almost-White: hsl(0, 0%, 98%);
$Medium-Gray: hsl(0, 0%, 41%);
$Almost-Black: hsl(0, 0%, 8%);
$font-size: 18px;
$font-primary: "Epilogue", sans-serif;
$font-weight-primary: 700;
$font-weight-secundary: 400;
